body {
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: $primary-font;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $base-white-color;
  background: $background-blue;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
