// Fonts
$primary-font: "Roboto", "Arial", sans-serif;
$secondary-font: "OpenSans", "Arial", sans-serif;

// Colors
$base-black-color: #000000;
$base-white-color: #ffffff;
$primary1-color: #f91155;
$primary2-color: #ff4b77;
$primary3-color: #d8003f;
$secondary-color: #3c3e43;
$accent-color: #ff7647;
$disabled-color: #999999;
$active-color: #f9637c;

// Backgrounds
$background-grey: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);
$background-blue: linear-gradient(68.56deg, rgba(170, 203, 240, 0.25) 11.33%, rgba(170, 203, 240, 0.75) 64.1%);

// Display Resolution
$tablet-width: 768px;
$desktop-width: 1280px;
