.reserved {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
}

.reserved__text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-height: 150px;
  margin: 0;
  padding: 10px 24px;
  font-family: $secondary-font;
  font-weight: 400;
  text-align: center;
  background-color: $secondary-color;
  border-radius: 0 0 12px 12px;

  @media (min-width: $tablet-width) {
    min-height: 162px;
  }

  @media (min-width: $desktop-width) {
    min-height: 97px;
  }
}

.reserved__link {
  font-weight: 600;
  text-decoration: none;
  color: $primary2-color;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.5;
  }
}

.reserved__link-disabled {
  color: $disabled-color;
  text-decoration: none;
  pointer-events: none;
}
