.variants {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  padding: 24px 16px 28px;
  overflow-y: auto;

  @media (min-width: $tablet-width) {
    padding: 27px 34px 19px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1180px;
    margin: auto;
    padding: 0;
  }
}

.variants__title {
  max-width: 288px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $base-black-color;
  word-break: break-all;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 55px;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    max-width: 1180px;
    margin-bottom: 27px;
  }
}

.variants__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px;
    row-gap: 37px;
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    gap: 32px;
    max-width: 1180px;
  }
}

.variants__item {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 288px;
  min-height: 347px;

  @media (min-width: $tablet-width) {
    width: 336px;
    min-height: 420px;
  }

  @media (min-width: $desktop-width) {
    width: 372px;
    min-height: 372px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: $background-grey;
    border-radius: 12px;
    content: "";
  }

  &:not(.reserved):hover {
    border-radius: 12px;
    box-shadow: 0 4px 15px 0 $base-black-color;
  }

  &:not(.reserved):hover .variants__action {
    display: block;
  }

  &:not(.reserved):active {
    border-radius: 12px;
    box-shadow: 0 4px 15px 0 $base-black-color;
  }

  &:not(.reserved):active .variants__action {
    display: block;
  }
}

.variants__image {
  display: block;
  width: 288px;
  min-height: 347px;
  border-radius: 12px;

  @media (min-width: $tablet-width) {
    width: 336px;
    min-height: 420px;
  }

  @media (min-width: $desktop-width) {
    width: 372px;
    min-height: 372px;
  }
}

.variants__content {
  position: relative;
  bottom: 0;
  z-index: 2;
  max-width: 246px;
  min-height: 249px;
  margin: 21px;
  margin-top: -270px;

  @media (min-width: $tablet-width) {
    max-width: 288px;
    min-height: 303px;
    margin: 24px;
    margin-top: -327px;
  }

  @media (min-width: $desktop-width) {
    max-width: 324px;
    min-height: 185px;
    margin-top: -209px;
  }
}

.variants__item:nth-child(2) .variants__content {
  min-height: 228px;
  margin-top: -249px;

  @media (min-width: $tablet-width) {
    min-height: 247px;
    margin-top: -273px;
  }

  @media (min-width: $desktop-width) {
    min-height: 185px;
    margin-top: -209px;
  }
}

.variants__item:nth-child(3) .variants__content {
  @media (min-width: $tablet-width) {
    min-height: 247px;
    margin-top: -273px;
  }

  @media (min-width: $desktop-width) {
    min-height: 185px;
    margin-top: -209px;
  }
}

.variants__action {
  position: absolute;
  top: 21px;
  left: 21px;
  z-index: 1;
  display: none;
  width: 177px;
  padding: 4px 4px 5px 16px;
  font-weight: 700;
  background-color: $accent-color;

  &::after {
    position: absolute;
    top: 0;
    width: 36px;
    height: 30px;
    background-image: url("../../images/icons/icon-discount.svg");
    background-repeat: no-repeat;
    background-size: 36px 30px;
    content: "";
  }
}

.variants__subtitle {
  position: relative;
  display: inline-block;
  min-height: 26px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  color: $base-white-color;
  word-break: break-word;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-height: auto;
    margin-bottom: 9px;
    font-size: 24px;
    line-height: 32px;
  }

  &::after {
    position: absolute;
    bottom: 2px;
    display: none;
    width: 100%;
    height: 2px;
    background-color: $base-white-color;
    content: "";

    @media (min-width: $desktop-width) {
      bottom: 4px;
    }
  }

  &:hover::after {
    display: block;
  }

  &:active::after {
    opacity: 0.5;
    display: none;
  }
}

.variants__subtitle--disabled {
  color: $disabled-color;
  pointer-events: none;
}

.variants__description {
  max-width: 246px;
  min-height: 63px;
  margin: 0;
  padding-bottom: 21px;
  font-family: $secondary-font;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 288px;
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 323px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.variants__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 117px 180px;
    column-gap: 27px;
  }
}

.variants__text {
  min-height: 21px;
  max-height: 105px;
  margin: 0;
  padding-top: 17px;
  font-family: $secondary-font;
  overflow: auto;
  letter-spacing: 0.7px;

  @media (min-width: $tablet-width) {
    min-height: 24px;
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.variants__cost {
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 0;
  }
}

.variants__symbol {
  margin-right: 1px;
  margin-bottom: 3px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-right: 3px;
    margin-bottom: 2px;
    font-size: 19px;
  }
}

.variants__price {
  max-height: 88px;
  margin-right: 3px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: $primary2-color;
  overflow: auto;

  @media (min-width: $tablet-width) {
    margin-right: 5px;
    font-size: 24px;
  }
}

.variants__currency {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);

  @media (min-width: $tablet-width) {
    font-size: 23px;
    color: $disabled-color;
  }
}

.variants__button {
  padding: 8px 10px 10px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $base-white-color;
  background-color: $primary1-color;
  border: none;
  border-radius: 3px;
  word-break: break-word;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    max-width: 288px;
    padding: 11px 13px 13px;
    font-size: 16px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    grid-column: 2/3;
    grid-row: 3/5;
    min-height: 48px;
  }

  &:hover,
  &:focus-visible {
    background-color: $primary3-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    color: $active-color;
    background-color: $primary3-color;
    box-shadow: none;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.6);
    background-color: $disabled-color;
    pointer-events: none;
  }
}
